html {
	font-size: 62.5%;
}

body {
	background-color: #4c99e6;
}

body * {
	border-radius: 2px;
}

/* Logo */
header {
	margin-top: 50px;
}

img.logo {
	display: block;
	height: 75px;
	margin-right: auto;
	margin-left: auto;
}

/* Sign up box */
main {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	font-size: 16px;
	font-size: 1.6rem;
}

main * {
	display: block;
}

main div {
	
	text-align: center;
}

main div.signup {
	padding: 40px;
	background-color: #fff;
}

main h2 {
	margin-top: 0;
	font-size: 30px;
	font-size: 3.5rem;
	font-weight: normal;
}

main .signup form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

main .signup form fieldset label {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

input, button {
	width: 320px;
	height: 55px;
	border: 2px #eee solid;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
}

input {
	box-sizing: border-box;
}

button {
	margin-top: 20px;
	background-color: #2eb82e;
	border: 0;
	color: #fff;
	font-size: 20px;
	font-size: 2rem;
}

button:hover {
	background-color: #196619;
}

.forgotpassword a {
	font-size: 12px;
	font-size: 1.2rem;
	color: #aaa;
}

.login {
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
}

.login *{
	display: inline;
}

.login a {
	color: #fff;
}
